/*=============================================================
Variable Css
=============================================================*/
/*=============================================================
Common Css
=============================================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Chivo', sans-serif;
  font-family: 'Overpass', sans-serif;
  overflow-x: hidden;
  height: 10000px;
}

/*=============================================================
Fonts Css
=============================================================*/
h1 {
  font-family: 'Chivo', sans-serif;
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-family: 'Chivo', sans-serif;
  font-size: 55px;
  font-weight: normal;
}

h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

p {
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a {
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/*=============================================================
Navbar Css
=============================================================*/
nav {
  background-color: #575755;
}

/*=============================================================
Header Css
=============================================================*/
header {
  background: url(/img/header-min.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 200px 0;
  z-index: -1;
}

header .hero {
  z-index: 1;
  padding: 110px 0 0 0;
}

header .hero h2 {
  color: #fff;
}

header .hero h3 {
  color: #ffc901;
}

header .hero .book-now {
  color: #fff;
}

header .hero .book-now span {
  color: #ffc901;
}

/*=============================================================
About-us Css
=============================================================*/
.about-us {
  background: url(/img/sec1-bg.png.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 100px 0 80px 0;
}

.about-us .head {
  margin-bottom: 60px;
}

.about-us .contents {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about-us .contents h3 {
  color: #fff;
}

.about-us .contents h3 span {
  color: #ffc901;
}

/*=============================================================
Our Food Quality Css
=============================================================*/
.our-food-quality {
  background: url(/img/sec2-bg-min-min.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.our-food-quality .head {
  margin-bottom: 60px;
}

.our-food-quality .content p {
  margin-bottom: 50px;
}

.our-food-quality .content h4 {
  color: #ffc901;
}

/*=============================================================
Book Now Css
=============================================================*/
.booknow {
  background: #1d1d1d;
  padding: 50px 0;
}

.booknow .form .form-control {
  background: transparent;
  border: 1px solid #ffc901;
  padding: 10px 25px;
  color: #fff;
}

.booknow .form placeholder {
  color: #fff;
}

.booknow .button .btn-primary {
  background: #ffc901;
  border: none;
  font-family: 'Chivo', sans-serif;
  padding: 0;
  padding: 10px 90px 5px 90px;
}

.booknow .button .btn-primary a {
  color: #000;
}

/*=============================================================
Photo display Css
=============================================================*/
.photo-display .img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=============================================================
testimonial Css
=============================================================*/
.testimonial {
  background: url(/img/sec7-bg-min.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.testimonial h3 {
  color: #ffc901;
}

/*=============================================================
Enjoy your meal Css
=============================================================*/
.enjoy-meal {
  background: #1c1c1c;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0;
  border-bottom: 6px dotted #ffc901;
}

.enjoy-meal .left {
  height: 100%;
}

.enjoy-meal .left h3 {
  color: #ffc901;
}

.enjoy-meal .left h4 {
  color: #ffc901;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */